* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 10px 0 70px;
    background: url("styles/scenery-pink-lakeside-sunset-lake-landscape-scenic-panorama-2048x2048-144copy.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.div1 {
    position: relative;
    width: 750px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    border-color: black;
    border-width: 1.5px;
    justify-content: center;
}


.div3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div4 {
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;
    transition: .3s;
}

.para {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    width: 100%;
    color: #fff;
    font-weight: 600px;
}

.sameinput {
    width: 100%;
    height: 100%;
    border: none;
    border-width: 1px;
    outline: none;
    font-size: 18px;
    padding-left: 30px;
    border-radius: 25px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}

input::placeholder {
    color: #fff;
}

label {
    width: 100%;
    color: #fff;
    display: inline-block;
    margin-top: 7px;
}

.register {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.30s;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.register.active{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.30s;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.register:active {
    opacity: 0.5;
}

@media (max-width: 576px) {
    .div4 {
        width: 100%;
        margin: 5px 0;
        transition: .3s;
    }
    .div1 {
        padding-left: 0px;
        padding-right: 10px;
    }

    .sameinput {
        width: 100%;
        height: 100%;
        border: none;
        border-width: 1px;
        outline: none;
        font-size: 16px;
        padding-left: 30px;
        border-radius: 25px;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
    }

}