.nav1 {
    font-family: Arial;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(50px);
    padding: 6px 10px;
    transition: .5s;
    margin-right: 10px;
    z-index: 1;
    border: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
}

.nav1.active {
    width: 260px;
    z-index: 2;
}

.menu1 {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    border-bottom: solid;
    border-width: 1.8px;
}

.nav1 .menu-btn {
    font-size: 20px;
    font-weight: 600px;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.nav1.active .menu-btn {
    opacity: 1;
    transition: 0.2s;
}


.option {
    color: #fff;
}

.nav1 .menu .menu1 .toggle-btn {
    z-index: 1;
    top: auto;
    font-size: 30px;
    position: absolute;
    left: 28%;
    cursor: pointer;
    transition: .5s;
}

.nav1.active .menu .menu1 .toggle-btn  {
    left: 85%;
}

ul {
    margin-top: 10px;
}

.nav1 .options .list-itm .link .list-name {
    
    text-align: left;
    border-radius: 6px;
    opacity: 0;
    transition: 0s;
}

.nav1.active .options .list-itm .link .list-name {
    opacity: 1;
    transition: .3s;
}

.list-itm {
    width: 100%;
    list-style: none;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
    border-radius: 6px;
}

.list-itm.on a,
.list-itm a:hover
{
    background-color: rgba(255, 255, 255, .2);
}

.list-itm.on a:active,
.list-itm a:active {
    background-color: rgba(255, 255, 255, 0.723);
}

.list-itm a {
    text-decoration: none;
    color: #fff;
    display: flex;
    text-align: center;
    border-radius: 6px;
    width: 100%;
    transition: .5s;
}

.nav-icon {
    display: flex;
    top: 50;
    left: 50%;
    height: 50px;
    align-items: center;
    line-height: 50px;
    padding: 12px;
    font-size: 25px;
}

@media (max-width: 576px) {
    .nav1 {
        width: 50px
    }

    .nav-icon {
        display: flex;
        top: 50%;
        left: 20%;
        height: 40px;
        align-items: center;
        line-height: 40px;
        padding: 4.5px;
        font-size: 20px;
        transition: .3s;
    }

    .nav1 .menu .menu1 .toggle-btn {
        z-index: 1;
        top: auto;
        font-size: 25px;
        position: absolute;
        left: 30%;
        cursor: pointer;
        transition: 0s;
    }

    .list-itm {
        width: 100%;
        list-style: none;
        height: 40px;
        margin: 5px 0;
        line-height: 40px;
        border-radius: 6px;
        transition: .3s;
    }
}